* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

canvas {
    position: absolute;
    width: 1000;
    height: 1300;
    left: 300px;
    margin-top: 50px;
    border: 1px solid black;
    /* background-color: #e5f7ff; */
    /* background-color: violet; */
    /* background: rgba(255, 255, 255, 0.5); */
    /* background-image: url(./images/background/bg3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5; */
}

/* #myCanvas {
    z-index: 1;
} */

.histogram_style {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 230px;
    height: 310px;
    background-color: rgb(245, 232, 198);
}

.histogram_style .title {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(182, 176, 166);
}

.histogram_style #hide_histogram {
    margin-left: 15px;
    margin-top: 15px;
}

.histogram_style .checkbox_style {
    margin-left: 15px;
    margin-top: 15px;
}

.histogram_style label {
    margin-left: 5px;
}

/* .histogram_style .set_histogram_style {
    margin-top: 10px;
    margin-left: 15px;
} */

.histogram_style #pattern_img {
    margin-left: 35px;
    margin-top: 15px;
}

.histogram_style #submit_histogram_style {
    margin-top: 10px;
    margin-left: 90px;
    width: 100px;
    height: 30px;
}

.value_order {
    position: absolute;
    top: 50px;
    left: 560px;
    width: 230px;
    /* height: 50px; */
    height: 100px;
    background-color: bisque;
}

.value_order .title {
    padding: 5px 0px 5px 0px;
    background-color: rgb(172, 160, 146);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.value_order #value_ascending,
.value_order #value_descending,
.value_order #value_original {
    margin-left: 20px;
    margin-top: 20px;
}

.year_order {
    position: absolute;
    top: 50px;
    left: 860px;
    width: 230px;
    /* height: 50px; */
    height: 100px;
    background-color: bisque;
}

.year_order .title {
    padding: 5px 0px 5px 0px;
    background-color: rgb(172, 160, 146);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.year_order #year_ascending,
.year_order #year_descending,
.year_order #year_original {
    margin-left: 20px;
    margin-top: 20px;
}

#quit {
    position: absolute;
    top: 50px;
    left: 1200px;
    width: 100px;
    height: 30px;
    background-color: bisque;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.line_chart_style {
    position: absolute;
    left: 50px;
    top: 410px;
    width: 230px;
    height: 530px;
    background-color: rgb(245, 232, 198);
}

.line_chart_style .title {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(182, 176, 166);
}

.line_chart_style #hide_line_chart {
    margin-left: 15px;
    margin-top: 15px;
}

.line_chart_style .checkbox_style {
    margin-left: 15px;
    margin-top: 15px;
}

.line_chart_style label {
    margin-left: 5px;
}

.line_chart_style #line_color,
.line_chart_style #dot_color,
.line_chart_style #font_color {
    margin-left: 5px;
}

.line_chart_style #line_width,
.line_chart_style #dot_size,
.line_chart_style #font_size {
    margin-left: 15px;
    margin-top: 5px;
}

.line_chart_style #line_shape #dot_shape,
.line_chart_style #font_family {
    margin-left: 15px;
    margin-top: 5px;
}

.line_chart_style #submit_line_chart_style {
    margin-top: 10px;
    margin-left: 90px;
    width: 100px;
    height: 30px;
}